$primary   : #0180ff;


$dark      : #282a3c;
$dark-dark : #05080d;

// Whole background
$body-bg   : #ffffff;
$body-bg-dark: #05080D;
$body-color: #74788d;
$body-color-dark: rgb(161, 160, 167);

$border-color        : #eff0f6;
$border-color-dark   : #363C4E;
$headings-color      :#48465b !default;
$headings-color-dark :#fff !default;
$grid-breakpoints    : (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440);

// Color systems
$white  : #fff !default;
$black  : #05080D !default;
$green  : #297F00;